# 2.1 Scaling for Unsupervised ML

## Contents
### 1. Import libraries and Data
### 2. Subset to Temp Means from the 2010s
### 3. Scaling Data
### 4. Export Scaled Data

## 1. Import Libraries and Data

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import operator
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from matplotlib.pyplot import figure

In [5]:
#Create a path to where your data is stored.
path = r'/Users/sydneyjohnson/Documents/CF Data Analytics Course/11-2024 ClimateWins Analysis/02 Data'

In [21]:
df = pd.read_csv(os.path.join(path, 'Dataset-weather-prediction-dataset-processed.csv'), index_col = False)

In [23]:
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

## 2. Subset to temp means from the 2010s

In [25]:
#Reduce to just the mean temperatures
df = df[['DATE','BASEL_temp_mean',
 'BELGRADE_temp_mean',
 'BUDAPEST_temp_mean',
 'DEBILT_temp_mean',
 'DUSSELDORF_temp_mean',
 'HEATHROW_temp_mean',
 'KASSEL_temp_mean',
 'LJUBLJANA_temp_mean',
 'MAASTRICHT_temp_mean',
 'MADRID_temp_mean',
 'MUNCHENB_temp_mean',
 'OSLO_temp_mean',
 'SONNBLICK_temp_mean',
 'STOCKHOLM_temp_mean',
 'VALENTIA_temp_mean']].copy()

In [27]:
df.shape

(22950, 16)

In [35]:
# Reduce your dataset to the 2010s
df2010s = df[df['DATE'].astype(str).str.contains('^201')] #<-----INSERT YEAR HERE
df2010s

,DATE,BASEL_temp_mean,BELGRADE_temp_mean,BUDAPEST_temp_mean,DEBILT_temp_mean,DUSSELDORF_temp_mean,HEATHROW_temp_mean,KASSEL_temp_mean,LJUBLJANA_temp_mean,MAASTRICHT_temp_mean,MADRID_temp_mean,MUNCHENB_temp_mean,OSLO_temp_mean,SONNBLICK_temp_mean,STOCKHOLM_temp_mean,VALENTIA_temp_mean
18263,20100101,2.9,9.9,5.0,-1.6,-1.1,1.6,-2.6,6.9,-2.0,5.6,3.1,-7.7,-9.7,-7.6,1.7
18264,20100102,-1.5,3.5,1.6,-1.1,-1.5,1.3,-3.7,2.5,-2.1,5.0,-2.5,-11.0,-17.0,-8.9,0.8
18265,20100103,-3.2,-0.6,-1.9,-3.9,-3.1,1.2,-3.3,-0.5,-3.9,5.8,-3.6,-12.4,-21.6,-9.4,0.5
18266,20100104,-4.9,0.0,-4.1,-2.9,-4.1,-2.5,-6.5,-3.3,-5.4,7.8,-4.9,-9.5,-18.6,-6.1,3.7
18267,20100105,-4.0,1.2,-3.5,-0.7,-2.7,-1.9,-9.1,-1.5,-2.3,8.0,-6.7,-12.4,-14.7,-14.7,2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21910,20191227,6.8,3.1,4.4,3.3,4.3,7.5,9.1,3.0,5.5,8.9,3.7,-4.9,-11.1,-0.8,10.7
21911,20191228,3.7,2.0,2.3,-0.1,0.6,8.1,9.1,0.7,1.9,8.2,-0.1,-1.2,-13.9,-2.1,10.7
21912,20191229,-0.8,0.6,0.8,1.2,2.4,8.7,9.1,-1.4,1.1,7.8,-1.6,4.4,-14.9,2.8,10.7
21913,20191230,0.5,-1.5,0.7,4.6,4.6,6.5,9.1,-2.3,5.0,7.0,0.0,5.5,-10.1,8.1,10.7
21914,20191231,0.4,-0.9,2.7,4.2,2.1,7.1,9.1,-0.3,2.9,6.8,3.0,1.1,-5.4,4.4,10.7

In [37]:
df2010s = df2010s.drop(columns = ['DATE'])

## 3. Scaling Data

In [40]:
#create scaler object using StandardScaler from sklearn.preprocessing
scaler = StandardScaler()

In [46]:
df2010s.columns.tolist()

['BASEL_temp_mean',
 'BELGRADE_temp_mean',
 'BUDAPEST_temp_mean',
 'DEBILT_temp_mean',
 'DUSSELDORF_temp_mean',
 'HEATHROW_temp_mean',
 'KASSEL_temp_mean',
 'LJUBLJANA_temp_mean',
 'MAASTRICHT_temp_mean',
 'MADRID_temp_mean',
 'MUNCHENB_temp_mean',
 'OSLO_temp_mean',
 'SONNBLICK_temp_mean',
 'STOCKHOLM_temp_mean',
 'VALENTIA_temp_mean']

In [50]:
columns = ['BASEL_temp_mean',
 'BELGRADE_temp_mean',
 'BUDAPEST_temp_mean',
 'DEBILT_temp_mean',
 'DUSSELDORF_temp_mean',
 'HEATHROW_temp_mean',
 'KASSEL_temp_mean',
 'LJUBLJANA_temp_mean',
 'MAASTRICHT_temp_mean',
 'MADRID_temp_mean',
 'MUNCHENB_temp_mean',
 'OSLO_temp_mean',
 'SONNBLICK_temp_mean',
 'STOCKHOLM_temp_mean',
 'VALENTIA_temp_mean']

In [52]:
#create new df with scaled data

scaled2010s = pd.DataFrame(scaler.fit_transform(df2010s), columns=columns)
scaled2010s.head()

,BASEL_temp_mean,BELGRADE_temp_mean,BUDAPEST_temp_mean,DEBILT_temp_mean,DUSSELDORF_temp_mean,HEATHROW_temp_mean,KASSEL_temp_mean,LJUBLJANA_temp_mean,MAASTRICHT_temp_mean,MADRID_temp_mean,MUNCHENB_temp_mean,OSLO_temp_mean,SONNBLICK_temp_mean,STOCKHOLM_temp_mean,VALENTIA_temp_mean
0,-1.128475,-0.453788,-0.906738,-1.965574,-1.805708,-1.795894,-2.467463,-0.611718,-1.917968,-1.308362,-0.941898,-1.817358,-0.825900,-1.964022,-9.294301
1,-1.720538,-1.160884,-1.295436,-1.885796,-1.864336,-1.848122,-2.698046,-1.139683,-1.932852,-1.384855,-1.658590,-2.222343,-1.892107,-2.126740,-10.236726
2,-1.949290,-1.613867,-1.695566,-2.332553,-2.098851,-1.865531,-2.614198,-1.499658,-2.200764,-1.282864,-1.799369,-2.394154,-2.563964,-2.189323,-10.550868
3,-2.178042,-1.547577,-1.947076,-2.172997,-2.245422,-2.509679,-3.284984,-1.835635,-2.424025,-1.027886,-1.965744,-2.038259,-2.125797,-1.776272,-7.200024
4,-2.056938,-1.414996,-1.878482,-1.821973,-2.040222,-2.405222,-3.829998,-1.619650,-1.962620,-1.002388,-2.196109,-2.394154,-1.556179,-2.852709,-8.666018

## 4. Export Scaled Data

In [55]:
scaled2010s.to_csv(os.path.join(path, 'scaled2010s.csv'))